<% provide(:title, 'Log In') %>
<h2 class="center-align">Login</h2>

<%= form_for(:session, url: login_path) do |f| %>

<div class="valign-wrapper row">
  <div class="col s8 pull-s2 card hoverable z-depth-1 grey lighten-4">
    <div class="row">
      <div class="input-field col s12">
        <%= f.label :email %>
        <%= f.email_field :email, class: 'form-control' %>
      </div>
   </div>
   <div class="row">
     <div class="input-field col s12">
       <%= f.label :password %>
       <%= f.password_field :password, class: 'form-control' %>
     </div>
   </div>
   <div class="row">
     <%= f.submit "Log In", class: "col s12 btn waves-effect brown darken-3" %>
   </div>
  <% end %>
  <p>New user? <%= link_to "Please, sign up!", signup_path, class: "brown-text" %></p>
 </div>
</div>
