<% provide(:title, @user.name) %>
<h1 class="valign-wrapper">
  <%= gravatar_for @user %>
  <%= @user.name %>
</h1>
<%= link_to "Create New Ticket", new_ticket_path,
    class: "brown-text text-darken-3" %>
<%= will_paginate @tickets %>
<%= render "tickets/ticket" %>
<%= will_paginate @tickets %>
