<% provide(:title, @user.name) %>
<h1 class="valign-wrapper">
  <%= gravatar_for @user %>
  <%= @user.name %>
</h1>
<% if @user.tickets.any? %>
  <table class="striped">
    <thead>
      <tr>
        <th><%= @Category %>Category</th>
        <th><%= @Title %>Title</th>
        <th><%= @Message %>Message</th>
        <th><%= @Status %>Status</th>
        <th><%= @Created_At %>Created At</th>
      </tr>
    </thead>
    <tbody>
      <%= render @tickets %>
      <%= will_paginate @tickets %>
<% end %>
    </tbody>
  </table>
