      <tr>
        <td><%= ticket.category %></td>
        <td><%= ticket.title %></td>
        <td><%= ticket.message %></td>
        <td class="red-text"><%= ticket.status %></td>
        <td><%= ticket.created_at %></td>
      </tr>
