<% if @user.tickets.any? %>
  <table class="striped">
    <thead>
      <tr>
        <th><%= @Category %>Category</th>
        <th><%= @Title %>Title</th>
        <th><%= @Message %>Message</th>
        <th><%= @Status %>Status</th>
        <th><%= @Created_At %>Created At</th>
      </tr>
    </thead>
    <tbody>
      <% @tickets.each do |ticket| %>
        <tr>
          <td><%= ticket.category %></td>
          <td><%= ticket.title %></td>
          <td><%= ticket.message %></td>
          <td class="red-text"><%= ticket.status %></td>
          <td><%= time_ago_in_words(ticket.created_at).titleize %> Ago.</td>
        </tr>
      <% end %>
  <% end %>
    </tbody>
  </table>
