      <tr>
        <td><%= ticket.category %></td>
        <td><%= ticket.title %></td>
        <td><%= ticket.message %></td>
        <td><%= ticket.status %></td>
        <td><%= ticket.created_at %></td>
      </tr>
