<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title(yield(:title)) %></title>
    <%= render 'layouts/head' %>
    <%= render 'layouts/shim' %>
  </head>


<body>
 <%= render 'layouts/header' %>
    <%= yield %>
    <%= render 'layouts/services' %>
    <%= render 'layouts/products' %>
    <%= render 'layouts/about' %>
    <%= render 'layouts/footer' %>
  </body>
</html>
