<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title(yield(:title)) %></title>
    <%= render 'layouts/head' %>
    <%= render 'layouts/shim' %>
  </head>

<% if current_page?(root_path) %>
  <body>
    <%= render 'layouts/header' %>
    <%= yield %>
   <%= render 'layouts/footer' %>
   <%= debug(params) if Rails.env.development? %>
   <script>
   $(document).ready(function(){

       // Initialize smooth scroll
       $('.scrollspy').scrollSpy();

       // Initialize collapse button
       $('.button-collapse').sideNav({
           menuWidth: 240, // Default is 240
           closeOnClick: true // Closes side-nav on <a> clicks, useful for Angular/Meteor
         }
       );
       $('.collapsible').collapsible();
  });
  </script>
</body>
<% else %>
  <body>
    <%= render 'layouts/header2' %>
    <% flash.each do |message_type, message| %>
      <%= javascript_tag "Materialize.toast('#{message}', 4000, 'rounded')" %>
    <% end %>
      <%= yield %>
    <%= render 'layouts/footer' %>
    <script>
     $(document).ready(function(){

         // Initialize collapse button
         $('.button-collapse').sideNav({
             menuWidth: 240, // Default is 240
             closeOnClick: true // Closes side-nav on <a> clicks, useful for Angular/Meteor
           }
         );
         $('.collapsible').collapsible();
         // Initialize Select Dropdown
         $('select').material_select();
         // Initialize error close on click
         $('#error_close').click(function(){
           $('#error_explanation').fadeOut('slow', function() {
         });
      });
    });
    </script>
</body>
<% end %>
</html>
