<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title(yield(:title)) %></title>
    <%= render 'layouts/head' %>
    <%= render 'layouts/shim' %>
  </head>

  <body>
   <%= render 'layouts/header' %>
    <%= yield %>
   <%= render 'layouts/footer' %>
   <%= debug(params) if Rails.env.development? %>
   <script>
   $(document).ready(function(){
       // Initialize smooth scroll
       $('.scrollspy').scrollSpy();

       // Initialize collapse button
       $('.button-collapse').sideNav({
           menuWidth: 240, // Default is 240
           closeOnClick: true // Closes side-nav on <a> clicks, useful for Angular/Meteor
         }
       );
       $('.collapsible').collapsible();

       // Initialize error close on click
       $('#error_close').click(function(){
         $('#error_explanation').fadeOut('slow', function() {
       });
    });
  });
  </script>
 </body>
</html>
